In [ ]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
data = pd.read_csv('/content/Training Dataset.csv')

In [ ]:
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [ ]:
#data preprocessing
data.isna().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [ ]:
data['Gender'].value_counts()

Male      489
Female    112
Name: Gender, dtype: int64

In [ ]:
data['Married'].value_counts()

Yes    398
No     213
Name: Married, dtype: int64

In [ ]:
data.Married = data.Married.fillna('Yes')

In [ ]:
data['Dependents'].value_counts()

0     345
1     102
2     101
3+     51
Name: Dependents, dtype: int64

In [ ]:
data.Dependents = data.Dependents.fillna('0')

In [ ]:
data['Self_Employed'].value_counts()

No     500
Yes     82
Name: Self_Employed, dtype: int64

In [ ]:
data.Self_Employed =  data.Self_Employed.fillna('No')

In [ ]:
data['Loan_Amount_Term'].value_counts()

360.0    512
180.0     44
480.0     15
300.0     13
240.0      4
84.0       4
120.0      3
60.0       2
36.0       2
12.0       1
Name: Loan_Amount_Term, dtype: int64

In [ ]:
data.Loan_Amount_Term = data.Loan_Amount_Term.fillna(360.0)

In [ ]:
data['Credit_History'].value_counts()

1.0    475
0.0     89
Name: Credit_History, dtype: int64

In [ ]:
data.Credit_History = data.Credit_History.fillna(1.0)

In [ ]:
data['LoanAmount'].value_counts()

120.0    20
110.0    17
100.0    15
160.0    12
187.0    12
         ..
240.0     1
214.0     1
59.0      1
166.0     1
253.0     1
Name: LoanAmount, Length: 203, dtype: int64

In [ ]:
data.LoanAmount = data.LoanAmount.fillna(120.0)

In [ ]:
# split the data into input and output
x = data.iloc[:,1:12].values
y = data.iloc[:,12]

In [ ]:
#train test split 
from sklearn.model_selection import train_test_split
x_train ,x_test, y_train,y_test = train_test_split (x,y,test_size=0.30,random_state=0)

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
le = LabelEncoder()

In [ ]:
for i in range(0,5):
  x_train[:,i] = le.fit_transform(x_train[:,i])
x_train[:,10] = le.fit_transform(x_train[:,10])

In [ ]:
le_y = LabelEncoder()

In [ ]:
y_train = le_y.fit_transform(y_train)

In [ ]:
le_xt = LabelEncoder()

In [ ]:
for i in range(0,5):
  x_test[:,i] = le.fit_transform(x_test[:,i])
x_test[:,10] = le.fit_transform(x_test[:,10])

In [ ]:
y_test = le_y.fit_transform(y_test)

In [ ]:
#scaling 
from sklearn.preprocessing import StandardScaler

In [ ]:
sc = StandardScaler()

In [ ]:
x_train = sc.fit_transform(x_train)

In [ ]:
x_test = sc.fit_transform(x_test)

In [ ]:
#logistic regression 
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(max_iter=100,random_state=0)
lr.fit(x_train,y_train)
y_pred = lr.predict(x_test)

In [ ]:
y_pred

array([1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1])

In [ ]:
from sklearn.metrics import accuracy_score , confusion_matrix

In [ ]:
print("Accuracy :",accuracy_score(y_test,y_pred))

Accuracy : 0.8324324324324325

In [ ]:
import joblib
joblib.dump(lr,"Loan aprove ")
model = joblib.load("Loan aprove ")

In [ ]:
import pandas as pd
df = pd.DataFrame({
    'Gender':1,
    'Married':1,
    'Dependents':2,
    'Education':2,
    'Self_Employed':2889,
    'ApplicantIncome':0.0,
    'CoapplicantIncome':45,
    'LoanAmount':45,
    'Loan_Amount_Term':180,
    'Credit_History':12, 
    'Property_Area':0, 
},index=[0])

In [ ]:
df

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,1,1,2,6,2889,0.0,45,45,180,12,1

In [ ]:
model.predict(df)

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:432: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  warnings.warn(

array([0])

In [ ]:
if model == 1:
  print("Loan Aprove")
else:
  print("Loan Not Aprove ")

Loan Not Aprove